{
  "env": {
    "test": {
      "presets": [
        "env"
      ],
      "plugins": [
        "transform-flow-strip-types",
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-runtime", 
      ]
    },
    "development": {
      "presets": [
        ["env", {
          targets: {
            browsers: ["last 2 versions"]
          },
          modules: false
        }],
      ],
      "plugins": [
        "transform-flow-strip-types",
        "transform-class-properties",
        "transform-object-rest-spread",
        ["transform-runtime", {helpers: false, polyfill: false}],
        "external-helpers"
      ]
    }
  }
}